.git
.github
.gitignore
.dockerignore
.devcontainer
.vscode
.idea
*.swp
*.swo
.DS_Store

node_modules
npm-debug.log
bun.lock

.env
.env.*
!.env.example

data/stats.json
data/winner_call_time.json
public/stats.json
netlify/functions/tmp/

.pre-commit-config.yaml
.prettierrc.json
.prettierignore
eslint.config.js
