\
# Ignore specific files and directories for ESLint

# Build artifacts and dependencies
**/node_modules/**
**/dist/**
**/build/**
**/coverage/**

# Configuration files
**/*.yaml
**/*.yml
**/*.toml
**/*.md
.prettierrc.json
netlify.toml
.pre-commit-config.yaml
.devcontainer/devcontainer.json
.github/**
Dockerfile
Dockerfile-Production
LICENSE
bun.lock
*.lock

# Data and assets
data/**
public/stats.json
public/stats.json.sample
public/img/**
public/less/**
public/css/**
views/**
public/stats.json.sample
netlify/functions/tmp/stats.json

# Translation files
po/**

# Shell scripts
*.sh

# Other
.gitkeep
.gitignore
.prettierignore

# Ignore project files
package.json
package-lock.json
bun.lock
