<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a quiz</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="main-page-container">
    <div class="quiz-main-header">
      <h1>🦎 openSUSE Quizzes</h1>
      <p class="quiz-main-subtitle">Find all available quizzes here</p>
    </div>
    <div class="quizzes">
      <% quizzes.forEach((quiz, index) => { %>
        <a href="./quiz?name=<%- quiz.slug %>" class="quiz-link">
          <button class="quiz-btn quiz-btn-color-<%= index % 4 %>">
            <span class="quiz-btn-icon">📋</span>
            <span class="quiz-btn-title"><%= quiz.title %></span>
          </button>
        </a>
      <% }) %>
    </div>
  </div>
</body>
</html>