<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Quiz App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <script src="/data/<%= query %>.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="quiz-header">
        <h1 class="quiz-title">Quiz Title</h1>
        <p class="quiz-subtitle">Quiz SubTitle</p>
        <div class="status-container">
          <p id="timer" class="hide">⏱️ Time left: 0</p>
          <p class="correct-count hide">Correct:</p> <!-- This will be populated by JS -->
        </div>
      </div>
      <p class="question hide">Question</p>
      <div class="q-container hide">
        <div class="btn-grid">
          <!-- Options will be dynamically inserted here by quizRenderer.js -->
        </div>
      </div>
      <div class="controls-container">
        <form class="username-form" action="/submit" method="POST">
          <input id="username" name="username" type="text" placeholder="Please enter a username to start"/>
          <input id="correct" style="display:none" type="text" name="correct"/>
          <input id="total" style="display:none" type="text" name="total"/>
          <button class="start-btn">Start</button>
          <button class="submit-btn hide" type="submit">Submit</button>
          <button class="submit-anytime-btn hide">Quit and Submit</button>
        </form>
        <button class="next-btn hide">Next</button>
      </div>
    </div>
    <script src="./quizRenderer.js"></script>
  </body>
</html>
